{% extends 'base.html' %}

{% block style %}
<link href="{{ url_for('static', filename='styles/about-style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<header>
    {% include 'includes/_navbar-user.html' %}
</header>
<div class="container">
    <div class="mt-5 p-5 border border-warning">
        <h5>[500 Internal Server Error] Something went wrong with the server.</h5>
        <p>The server encountered an unexpected condition. We are working on solving this issue. Please visit the page later.</p>
    </div>
</div>
{% endblock %}