<div class="col-md-8">
    <div class="d-flex justify-content-between mb-3">
        <div>
            <span>TASK #{{ task_id }}</span>
            <span class="px-3">FILE #{{ file_id }}</span>
        </div>  
        <div>
            {{ image }}
        </div>
        <div>
            <a href="{{ url_for('labeling.finish_file_label', file_id=file_id, task_id=task_id, username=username) }}">
                <button type="button" class="btn btn-outline-dark custom-list-button pb-0" data-bs-placement="left" title="Finish annotating this file">
                    <h6>FINISH LABELING THIS FILE</h6>
                </button>
            </a>
        </div>
    </div>
    <div class="row my-4 mx-1 div-canvas">
        <canvas id="canvas" class="main-canvas"></canvas>
    </div>
</div>
<script
<script>
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");

    var username = '{{ username }}'
    var task_id = '{{ task_id }}';
    var file_id = '{{ file_id }}';
    var labels = {{ labels|tojson|safe }};
    var labels_len = '{{ labels_len }}'

    var rectangle = [];
    var point = {};
    var hold = false;
    var draw = true;
    
    var colorSelect = document.getElementById("color-select");
    var colorValue = colorSelect.options[colorSelect.selectedIndex].value;
    ctx.strokeStyle = colorValue;

    var lineWidthSelect = document.getElementById("line-width-select");
    var lineWidthValue = lineWidthSelect.options[lineWidthSelect.selectedIndex].value;
    ctx.lineWidth = lineWidthValue;

    var img = new Image();
    img.isMap = true;

    var enableLabel = true;
    var enableZoom = false;
    var changedPosition = false;

    var div_coordinates = document.getElementById("coordinates");
    var btn_coordinates = document.getElementById("btn_coordinates");

    var drawLabel = function(nr, xMin, xMax, yMin, yMax) {
        resetColor();
        resetLineWidth();
        ctx.strokeStyle = colorValue;
        ctx.lineWidth = lineWidthValue;
        ctx.rect(xMin, yMin, xMax - xMin, yMax - yMin);
        ctx.stroke();
    };

    img.onload = function(event) {
        restartCanvas();
    };

    function restartCanvas() {
        ctx.canvas.width = img.width;
        ctx.canvas.height = img.height;
        canvas.width = img.width;
        canvas.height = img.height;
        ctx.drawImage(img, 0, 0);
        for (i = 0; i < labels.length; i++){
            drawLabel(labels[i].nr, labels[i].xMin, labels[i].xMax, labels[i].yMin, labels[i].yMax);
        }
    }

    img.style.display = "block";
    img.src = "image/{{ image }}";

    canvas.addEventListener('mousemove', getMouseCoordAndImgData, false);

    function getMouseCoordAndImgData(event) {
        var rect = canvas.getBoundingClientRect();
        scaleX = canvas.width / rect.width;
        scaleY = canvas.height / rect.height;
        x = (event.clientX - rect.left) * scaleX
        y = (event.clientY - rect.top) * scaleY
        img_data.innerHTML =
        '<tbody><tr>' + '<td><b><small>X:</small></b><small> ' + Math.round(x) + '</small></td><td><b><small>Y:</small></b> <small>' + Math.round(y) + 
            '</small></td></tbody>';
        return {x, y};
    }

    function getMousePos(canvas, event) {
        var rect = canvas.getBoundingClientRect();
        scaleX = canvas.width / rect.width;
        scaleY = canvas.height / rect.height;
    
        return {
            x: (event.clientX - rect.left) * scaleX,
            y: (event.clientY - rect.top) * scaleY
        }
    }

    function labelMode() {
        resetColor();
        resetLineWidth();
        restartCanvas();
        refresh();
        if (enableLabel && !enableZoom) {
            canvas.onmousedown = function(event) {
                    if (event.target.id === "canvas" && draw) {
                        imageObject = img;
                        var pos = getMousePos(canvas, event);
                        prevCursorX = pos.x;
                        prevCursorY = pos.y;
                        hold = true;
                        point = {
                            x: pos.x,
                            y: pos.y
                        };

                        var x = (img.width / canvas.scrollWidth) * event.offsetX;
                        var y = (img.height / canvas.scrollHeight) * event.offsetY;
                    }
            };
                        
            canvas.onmousemove = function(event) {
                if (hold && draw) {
                    ctx.drawImage(imageObject, 0, 0);
                    var posmove = getMousePos(canvas, event);
                    cursorX = posmove.x - prevCursorX;
                    cursorY = posmove.y - prevCursorY;
                    ctx.strokeRect(prevCursorX, prevCursorY, cursorX, cursorY);
                }
            };
                        
            canvas.onmouseup = function(event) { 
                var x = (img.width / canvas.scrollWidth) * event.offsetX;
                var y = (img.height / canvas.scrollHeight) * event.offsetY;
                var xMin, xMax, yMin, yMax;

                if (point.x < x) {
                    xMax = x;
                    xMin = point.x;
                } else {
                    xMax = point.x;
                    xMin = x;
                }
                if (point.y < y) {
                    yMax = y;
                    yMin = point.y;
                } else {
                    yMax = point.y;
                    yMin = y;
                }

                window.location.replace(
                   "/user-" + username + "/task-" + task_id + "/file-" + file_id + "/add/" + (labels.length + 1) +
                   "?xMin=" + xMin +
                   "&xMax=" + xMax +
                   "&yMin=" + yMin +
                   "&yMax=" + yMax);
            
                hold = false;
            };
                        
            canvas.onmouseout = function(event) {
                hold = false;
            };
        }
    }

    function resetColor() {
        colorValue = colorSelect.options[colorSelect.selectedIndex].value;
        ctx.strokeStyle = colorValue;
    }

    function resetLineWidth() {
        lineWidthValue = lineWidthSelect.options[lineWidthSelect.selectedIndex].value;
        ctx.lineWidth = lineWidthValue;
    }

    // Zoom and drag enable mode
    
    var savedTransforms = [];
    trackTransforms(ctx);

    function refresh() {
        var p1 = ctx.transformedPoint(0, 0);
        var p2 = ctx.transformedPoint(canvas.width, canvas.height);
        ctx.clearRect(p1.x, p1.y, p2.x-p1.x, p2.y-p1.y);

        ctx.drawImage(img, 0, 0);
        ctx.save();
    }

    refresh();
        
    var lastX = canvas.width / 2;
    var lastY = canvas.height / 2;

    var dragStart;
    var dragged;

    function enableZoomAndDrag() {
        hideCoordinates();
        if (enableZoom) {
            canvas.onmousedown = function (event) {
                document.body.style.mozUserSelect = document.body.style.webkitUserSelect = document.body.style.userSelect = 'none';
                lastX = event.offsetX || (event.pageX - canvas.offsetLeft);
                lastY = event.offsetY || (event.pageY - canvas.offsetTop);
                dragStart = ctx.transformedPoint(lastX, lastY);
                dragged = false;
            };

            canvas.onmousemove = function (event) {
                lastX = event.offsetX || (event.pageX - canvas.offsetLeft);
                lastY = event.offsetY || (event.pageY - canvas.offsetTop);
                dragged = true;
                if (dragStart) {
                    var pt = ctx.transformedPoint(lastX, lastY);
                    ctx.translate(pt.x - dragStart.x, pt.y - dragStart.y);
                    refresh();
                }
            };

            canvas.onmouseup = function (event) {
                dragStart = null;
                if (!dragged) zoom(event.shiftKey ? -1 : 1 );
            };
        }

        var scaleFactor = 1.1;

        var zoom = function(clicked) {
            var pt = ctx.transformedPoint(lastX, lastY);
            ctx.translate(pt.x, pt.y);
            var factor = Math.pow(scaleFactor, clicked);
            ctx.scale(factor, factor);
            ctx.translate(-pt.x, -pt.y);
            refresh();
        }

        var scrollHandler = function(event) {
            var delta = event.wheelDelta ? event.wheelDelta/40 : event.detail ? -event.detail : 0;
            if (delta) zoom(delta);
            return event.preventDefault() && false;
        };

        canvas.addEventListener('mousewheel', scrollHandler, false);
        canvas.addEventListener('DOMMouseScroll', scrollHandler, false);

    };

    function trackTransforms(ctx) {
        var svg = document.createElementNS("http://www.w3.org/2000/svg",'svg');
        var xform = svg.createSVGMatrix();
        ctx.getTransform = function() { return xform; };
        
        var save = ctx.save;
        ctx.save = function() {
            savedTransforms.push(xform.translate(0, 0));
            return save.call(ctx);
        };

        var restore = ctx.restore;
        ctx.restore = function() {
            xform = savedTransforms.pop();
            return restore.call(ctx);
        };

        var scale = ctx.scale;
        ctx.scale = function(sx, sy) {
            xform = xform.scaleNonUniform(sx, sy);
            return scale.call(ctx, sx, sy);
        };

        var translate = ctx.translate;
        ctx.translate = function(dx, dy) {
            xform = xform.translate(dx, dy);
            return translate.call(ctx, dx, dy);
        };

        var transform = ctx.transform;
        ctx.transform = function(a,b,c,d,e,f) {
            var m2 = svg.createSVGMatrix();
            m2.a = a; 
            m2.b = b;
            m2.c = c;
            m2.d = d;
            m2.e = e;
            m2.f = f;
            xform = xform.multiply(m2);
            return transform.call(ctx, a, b, c, d, e, f);
        };

        var setTransform = ctx.setTransform;
        ctx.setTransform = function(a,b,c,d,e,f) {
            xform.a = a;
            xform.b = b;
            xform.c = c;
            xform.d = d;
            xform.e = e;
            xform.f = f;
            return setTransform.call(ctx, a, b, c, d, e, f);
        };
        
        var pt = svg.createSVGPoint();
        ctx.transformedPoint = function(x,y) {
            pt.x = x; 
            pt.y = y;
            return pt.matrixTransform(xform.inverse());
        }
    }

    var canvasElement = document.getElementsByTagName("canvas")[0];
    canvasElement.style.cursor = "url('cursor url with protocol'), auto";

    function zoomAndDragMode() {
        canvasElement.style.cursor = "move";
        enableZoom = true;
        enableLabel = false;
        enableZoomAndDrag();
    }

    function enableLabelMode() {
        refresh();
        canvasElement.style.cursor = "crosshair";
        enableZoom = false;
        enableLabel = true;
        labelMode();
    }

    function showCursorCoordinates() {
        if (div_coordinates.style.display === "none") {
            div_coordinates.style.display = "block";
            btn_coordinates.innerText = "Hide cursor coordinates";
        }
        else {
            hideCoordinates();
        }
    }

    function hideCoordinates() {
        div_coordinates.style.display = "none";
        btn_coordinates.innerText = "Display cursor coordinates";
    }
</script>
